
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <title>List of all parameters</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
</head>
<body>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Search results:</div>
        <div class="panel-body">

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Acronym</th>
                    <th>Old nummeration</th>
                    <th>Isolation source</th>
                    <th>Isolation date</th>
                    <th>Genus</th>
                    <th>Species</th>
                    <th>Subspecies</th>
                    <th>MALDI score</th>
                    <th>Position in fridge</th>
                    <th>Storage date</th>
                    <th>Cultivation conditions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="plant : ${searchResults}">
                    <td th:text="${plant.Id}"></td>
                    <td th:text="${plant.Acronym}"></td>
                    <td th:text="${plant.Old_nummeration}"></td>
                    <td th:text="${plant.Isolation_source}"></td>
                    <td th:text="${plant.Isolation_date}"></td>
                    <td th:text="${plant.Genus}"></td>
                    <td th:text="${plant.Species}"></td>
                    <td th:text="${plant.Subspecies}"></td>
                    <td th:text="${plant.MALDI_score}"></td>
                    <td th:text="${plant.Position_in_fridge}"></td>
                    <td th:text="${plant.Storage_date}"></td>
                    <td th:text="${plant.Cultivation_conditions}"></td>
                </tr>
                </tbody>
            </table>
            <form th:action="@{/}">
            <button type="submit" >Return</button>
            </form>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>